body
{
  padding-top: 40px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-top : 200px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.game-container {
  margin: 40px;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: auto;
  height: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: relative;
  margin : auto;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 93.25px;
  height: 93.25px;
  margin: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  
  /*font-size:0px;
  line-height:500px;*/
  text-align: center;

  /*float: left;
  /*border-radius: 3px;*/
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0px; }

.grid-row-mega {
    margin-bottom: 15px;
}

.title
{
  line-height:  = 500px;
  font-size: 50px;

}
label{
  margin-top:20px;
font-size:30px;
line-height: 30px;
  height:50px;
  width: 50px;
  text-align: center;
  padding: 10px;
   border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  
}
 
.grid-mega-cell {
    width: 93.25px;
    height: 211.50px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 35px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35); }

 .circle {
    background: black;
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}